* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html .sr .description {
  visibility: hidden;
}
.App {
  overflow: hidden;
  min-height: 100vh;
}
p {
  font-size: larger;
  letter-spacing: 2px;
  font-weight: 500;
}
h2 {
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
}
h3 {
  margin-bottom: 2%;
  font-size: larger;
}

.btn-form {
  align-items: center;
  margin: 1rem auto;
  width: 50%;
  height: 2rem;
  font-family: 'Source Code Pro', monospace;
  font-weight: bolder;
}
.btn-form:hover {
  color: white;
  background-color: black;
}

a {
  text-decoration: none;
  color: #212529;
}

body {
  background: url('./main-background3.jpg') !important;
  background-size: cover !important;
  text-align: center;
  color: rgb(224, 208, 182);
}

textarea {
  margin-top: 20px;
}

input, textarea {
  border: 1px solid white;
  text-align: center;
  font-weight: bolder;
  font-family: 'Source Code Pro', monospace;
  transition: .2s ease-in-out
}


@media screen and (max-width: 999px) {
  .experiences, .services, .contact, .footer {
    margin-top: 4rem;
  }
  svg {
    width: 24px;
    height: 24px;
  }
  
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 20px;
    margin-bottom: 2rem;
  }
  .experiences p, .description p {
    font-size: 18px;
    line-height: 20px;
  }
  
}


@media screen and (min-width: 1199px) {
  p {
    letter-spacing: 2px;
  }
  h2 {
    font-size: 32px;
  }
  .login input, .login {
    font-size: 18px;
  }
}