* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  overflow: hidden;
}
p {
  font-size: larger;
}
h2 {
  font-family: 'Architects Daughter', cursive;
}
h3 {
  margin-bottom: 3%;
  font-size: larger;
}
h4 {
  color: wheat;
}

.login {
  width: 35%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem auto;
  font-size: larger;
}
.btn-form {
  align-items: center;
  margin: 1rem auto;
  width: 50%;
  height: 2rem;
  font-family: 'Source Code Pro', monospace;
  font-weight: bolder;
}
.btn-form:hover {
  color: white;
  background-color: black;
}
.login div, label, input {
  margin: 0.5rem;
  height: 1.5rem;
}
a {
  text-decoration: none;
  color: #212529;
}

body {
  background-color: #28384d;
  text-align: center;
  color: wheat;
}

nav {
  display: flex;
  max-width: 100%;
  height: 6rem;
  z-index: 2;
  line-height: 25px;
  opacity: 1;
}
.nav .container {
  width: 100%;
}

.navbar {
  color: wheat;
  background-color: rgb(24, 24, 24);
  display: flex;
  flex-direction: row;
  max-width: 100%;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

#navbarSupportedContent {
  max-width: 100%;
}
.navbar-nav {
  display: inline-flex;
  width: 100%;
  list-style: none;
}
nav a.nav-link {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  font-size: 1.25rem;
  cursor: pointer;
  letter-spacing: 0.35rem;
  text-decoration: none;
}

.nav-item > a {
  color: wheat !important;
  border-top: 0.18rem solid rgb(24, 24, 24);
  transition: 0.1s ease-in;
}

.nav-item > a:hover {
  border-top: 0.18rem solid rgb(94, 94, 209);
  transform: scale(1.1);
}

nav ul li {
  text-transform: uppercase;
  position: relative;
  right: 15%;
  padding: 0 3.5%;
  margin: 0 2.5vw;
}

.description {
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: 25px;
  font-size: 18px;
  border-top: 1px solid wheat;
}
.description p {
  width: 70%;
  text-align: center;
  margin-left: 15%;
  line-height: 50px;
}
.description h2 {
  margin-top: 3.5%;
  margin-bottom: 2.5%;
  color: wheat;
}
.description h4 {
  margin-top: 2%;
  color: rgb(196, 194, 194);
  transition: 0.1s ease-in-out;
}
.description h4:hover {
  margin-top: 2%;
  color: wheat;
  transform: scale(1.1);
}
.img-profil {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-profil img {
  margin: 2.5%;
  border: 2px solid wheat;
}

.experiences {
  margin-top: 3.5%;
  width: 80%;
  margin-left: 10%;
}
.experiences p {
  margin: 1rem;
  font-size: 21px;
  line-height: 35px;
}
.experiences h2 {
  margin-bottom: 2.5%;
}
.experiences a {
  color: wheat;
  font-size: 1.25rem;
}

.services {
  width: 80%;
  margin-left: 10%;
}
.services h2 {
  margin-top: 3.5%;
  margin-bottom: 2.5%;
}
.services img {
  border: 2px solid wheat;
}
.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 644px;
  height: 644px;
  margin: auto;
}
.carousel .slide .legend {
  font-size: 20px;
  opacity: 0.5;
}
.carousel.carousel-slider .control-arrow {
  width: 5rem;
  opacity: 0.9;
}
.carousel-img {
  border: 2px solid wheat;
}
.legend {
  font-size: larger;
  font-weight: bolder;
  letter-spacing: 0.20rem;
}

.contact {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 40%;
  margin-top: 1%;
  margin-left: 30%;
  margin-bottom: 2rem;
  border: 1px solid wheat;
}
.contact input {
  background-color: rgb(250, 232, 200);
  height: 2rem;
  border-radius: 3px;
}
#email {
  width: 60%;
}
.contact h2 {
  margin-top: 3.5%;
  margin-bottom: 2.5%;
}
.contact textarea {
  height: 5rem;
  width: 70%;
  border-radius: 3px;
  background-color: rgb(250, 232, 200);
  padding-top: 1rem;
}
.contact .button {
  margin-top: 2rem;
  margin-left: 30%;
  margin-bottom: 2%;
  width: 40%;
  height: 3rem;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 5px;
}
.contact .button:hover {
  background-color: black;
  color: wheat;
  border: 2px solid wheat;

}
.contactP {
  margin-bottom: 2rem;
  margin-left: 10%;
  width: 80%;
}

.footer {
  background-color: rgb(24, 24, 24);
  color: wheat;
  height: 12rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0.9;
  border-top: 1px solid wheat;
  line-height: 35px;
}
.footer-center p {
  margin: 1rem;
}
.footer a {
  color: wheat;
}

textarea {
  margin-top: 20px;
}

input, textarea {
  border: 1px solid white;
  text-align: center;
  font-weight: bolder;
  font-family: 'Source Code Pro', monospace;
  transition: .2s ease-in-out
}
.contact .button:hover {
  transform: scale(1.2);
}

#not-mail {
  display: none;
}

@media screen and (max-width: 1199px) {
  nav ul li {
    right: auto;
    font-size: 16px;
    margin: 20px;
    padding: 0;
  }
  nav a.nav-link {
    letter-spacing: 0.15rem;
    font-size: 0.75rem;
    margin: auto;
  }
  
  .img-profil img {
    width: 20%;
  }
  .contact {
    height: 50vh;
  }
}

@media screen and (max-width: 699px) {
  svg {
    width: 24px;
    height: 24px;
  }
  .login-register {
    max-width: 80%;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 20px;
    margin-bottom: 3rem;
  }
  p {
    font-size: 16px;
  }
  
  .nav {
    line-height: 15spx;
  }
  .navbar {
    width: 380px;
    height: 10rem;
  }
  nav ul {
    width: 80%;
    flex-direction: column;
  }
  nav ul li {
    right: auto;
    font-size: 16px;
    margin: 5px;
    padding: 0;
  }
  nav a.nav-link {
    letter-spacing: 0.15rem;
    font-size: 0.75rem;
    margin: auto;
  }
  
  .img-profil {
    flex-direction: column;
  }
  .img-profil img {
    width: 90%;
  }
  
  .carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 300px;
    height: 320px;
    margin: auto;
  }
  .carousel .slide .legend {
    font-size: 14px;
  }
  .legend {
    font-size: larger;
    font-weight: bolder;
    letter-spacing: 0.15rem;
  }
  .contact {
    width: 80%;
    height: 60vh;
    margin-left: 10%;
  }
  .contact input, .contact .button {
    margin: 0.75rem;
  }
  .contact .button {
    margin-left: 30%;
  }
  .footer {
    height: 13rem;
    flex-direction: column;
    line-height: 20px;
  }
  .experiences, .services, .contact, .footer {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 329px) {
  .carousel-container {
    width: 100%;
  }
  .experiences {
    margin-left: 0;
    width: 100%;
  }
  .contact {
    margin-top: 0;
    height: 70vh;
  }
  .contact h2 {
    margin-top: 1rem;
  }
}

