.contact {
  color: black;
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-top: 7%;
  margin-left: 27.5%;
  margin-bottom: 4%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(247, 227, 191);
  box-shadow: 1px 1px 20px 2px black !important;
}
.contact h2 {
  color: black !important;
}
.contact input {
  background-color: whitesmoke;
  height: 2.5rem;
  border: none;
  color: wheat;
  border-bottom: 1px solid black;
  border-radius: 3px;
}
#email {
  width: 60%;
}
.contact h2 {
  margin-top: 3.5%;
  margin-bottom: 2.5%;
  color: wheat;
}
.contact textarea {
  height: 5rem;
  width: 70%;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 3px;
  background-color: whitesmoke;
  padding-top: 1rem;
}
.contact .button {
  color: grey;
  margin: 4% auto;
  width: 40%;
  height: 3rem;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
}
.contact .button:hover {
  background-color: black;
  color: wheat;
  border: 1px solid wheat;

}
.contactP {
  margin-bottom: 2rem;
  margin-left: 10%;
  width: 80%;
}


.contact .button:hover {
  transform: scale(1.1);
}

#not-mail {
  display: none;
}

@media screen and (max-width: 1199px) {
  .contact {
    width: 80%;
    margin-left: 10%;
  }
  .contact input, .contact .button {
    margin: 0.75rem;
  }
  .contact .button {
    margin-left: 30%;
  }
}

@media screen and (max-width: 799px) {
  .contact {
    border: 1px solid wheat;
  }
  .contact input {
    height: 1.5rem;
  }
  .contactP {
    font-size: 14px;
  }
  h2 {
    color: wheat;
  }
}

@media screen and (max-width: 349px) {
  .contact {
    margin-top: 0;
  }
  .contact h2 {
    margin-top: 1rem;
  }
}