.header {
  display: flex;
  position: fixed;
  left: 5%;
  color: rgb(179, 174, 174);
  text-align: center;
  align-items: center;
  height: 6rem;
  width: 15rem;
}

.logout {
  color: white;
  width: 5rem;
  height: 1.75rem;
  border-radius: 5px;
  background-color: black;
  border: 1px solid whitesmoke;
}
.logout:hover {
  background-color: rgb(206, 33, 33);
}

@media screen and (max-width: 1199px) {
  .header {
    top: 8%;
    left: 40%;
    width: 80%;
    color: whitesmoke;
  }
   .logout {
     margin-left: 10px;
   }
}

@media screen and (max-width: 499px) {
  .header {
    left:10%;
  }
}