nav {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 6rem;
  z-index: 2;
  border-bottom: 1px solid wheat;
}
.nav .container {
  width: 100%;
}

.navbar {
  color: wheat;
  background-color: black;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  text-decoration: none;
}

#navbarSupportedContent {
  max-width: 100%;
  margin: auto;
  margin-left: 35%;
  display: flex;
  justify-content: center;
}
.navbar-nav {
  display: inline-flex;
  width: 100%;
  list-style: none;
}
nav a.nav-link {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  font-size: 1.25rem;
  cursor: pointer;
  letter-spacing: 0.35rem;
  text-decoration: none;
}

.nav-item > a {
  color: wheat !important;
  border-top: 0.18rem solid black;
  transition: 0.1s ease-in;
}

.nav-item > a:hover {
  border-top: 0.18rem solid rgb(94, 94, 209);
  transform: scale(1.1);
  color: rgb(248, 207, 132) !important;
}

nav ul li {
  text-transform: uppercase;
  position: relative;
  margin: 0 2.5vw;
}

@media screen and (max-width: 1299px) {
  .nav {
    line-height: 15px;
    height: 7rem;
  }

  #navbarSupportedContent {
    margin: 0 auto;
    margin-top: 1rem;
  }
  
  nav ul {
    background-color: black;
    width: 80%;
    flex-direction: row;
    position: relative;
  }
  nav ul li {
    right: auto;
    font-size: 16px;
    margin: 10px;
    padding: 0;
  }
  nav a.nav-link {
    letter-spacing: 0.15rem;
    font-size: 1rem;
    margin: auto;
  }
}

@media screen and (max-width: 799px) {
  nav {
    height: 7rem;
  }
  nav ul li {
    margin: 5px;
  }
  nav ul {
    left: 0;
    top: 0px;
  }
  #navbarSupportedContent {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 499px) {
  
  nav a.nav-link {
    letter-spacing: 0.10rem;
    font-size: 0.90rem;
    margin: auto;
  }
}


@media screen and (max-width: 399px) {
  nav {
    height: 6.5rem ;
  }
  nav a.nav-link {
    letter-spacing: 0.10rem;
    font-size: 0.60rem;
    margin: auto;
  }
}