body {
  background: url('../../img/background-login1.jpg') no-repeat !important;
}
legend {
  color: whitesmoke;
  padding: 0.75rem;
  letter-spacing: 0.15rem;
  background-color: rgb(24, 24, 24);
  border-radius: 10px;
  border: 1px solid whitesmoke
}

.login div, label, input {
  margin: 0.5rem;
  height: 2rem;
}

.login {
  width: 45%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 2.4rem auto;
}

.link-to {
  width: 50%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 3.3rem auto;
  background-color: rgb(24, 24, 24);
  border-radius: 15px;
  border: 1px solid wheat;
}
.link-to p {
  margin: 2rem;
}
.link-to-column {
  width: 50%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  background-color: rgb(24, 24, 24);
  border-radius: 15px;
  border: 1px solid wheat;
}
.link-to-column p {
  margin: 0.5rem;
}
.btn-form {
  width: 150px !important;
  transition: 1s ease;
  border-radius: 7.5px;
  margin: 0.5rem auto;
}
.btn-form:hover {
  transform: scale(1.1);
}
.footer {
  margin-top: 4rem;
}

@media screen and (max-width: 1199px) {
  .login {
    width: 55%;
  }
  .login div, label, input {
    margin: 0.5rem;
    height: 1.5rem;
    font-size: small;
  }
  .login-register {
    max-width: 100%;
  }
}

@media screen and (max-width: 799px) {
  .login {
    width: 90%;
    margin-top: 5rem;
    height: 40vh;
  }
  legend {
    color: whitesmoke;
  }
  .link-to-column {
    width: 80%;
  }
  .link-to-column p {
    margin: 0;
  }
}

@media screen and (max-width: 429px) {
  .login {
    height: 50vh;
  }
  .submit {
    margin-top: 50px !important;
  }
  .link-to {
    font-size: 12px;
    width: 95%;
    flex-direction: column;
    height: fit-content;
    margin: auto;
    padding: 0;
  }
  .link-to p {
    margin: 0.5rem;
  }
  .footer {
    font-size: 14px;
  }
  .fa-key {
    margin-top: 20px;
  }
  .logout-dropdown{
    display: none;
  }
}

